<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>
    {% include '_links.html' %}
    что-то пошло не так
    Возможные варианты, почему такое произошло:
    <ul>
        <li>Указан существующий пользователь/email при регистрации</li>
        <li>Попытка изменения имени пользователя на существующее</li>
        <li>Некорректный ввод данных</li>
        <li>Другое</li>
    </ul>
    <a href="{{ url_for('index') }}">home</a>
</body>
</html>