
<nav>
    <div class="nav-wrapper blue">
        <ul class="left hide-on-med-and-down">
           <li><a href="{{ url_for('index') }}">home</a></li> 
            {% if current_user.is_authenticated %}
         <li><a href="{{ url_for('logout') }}">logout</a></li>
           <li><a href="{{ url_for('add_post')}}">add post</a></li> 
           <li><a href="{{ url_for('edit_profile')}}">edit_profile</a></li>
            <li><a href="{{ url_for('user', requested_username=current_user.user_name)}}">Profile</a></li>
            {% else %}
           <li><a href="{{ url_for('login') }}">login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>


