<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include '_links.html' %}
    <h1>user: {{ user.user_name }}</h1>
    <img src="{{ user.get_avatar(128) }}" alt="">
    <p>
        about me: {{ user.info }}
    </p>
    <p>
        Last seen:  {{user.last_seen }}
    </p>
    <hr>
    {% for post in posts %}
    <p>
        <img src="{{ user.get_avatar(28) }}" alt="">
        {{ post.author.user_name }} says: {{ post.text }}
    </p>
    {% endfor %}
    </body>
</body>
</html>